.url-validity-view {
    width: fit-content;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    column-gap: 10px;
}

.url-validity-view__duration-textfield {
    width: 100%;
    background: transparent;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom-color: #FFF;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    outline: none;
    text-align: center;
}

.url-validity-view__dropdown {
    width: 150px;
}