.url-validity-view {
    width: fit-content;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: end;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 30px;
}

.url-validity-view__duration-textfield {
    width: 50px;
    background: transparent;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom-color: #FFF;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    outline: none;
    text-align: center;
}

.url-validity-view__dropdown {
    width: 150px;
}

.value--error {
    border-bottom-color: #e22416;
}