.url-input-view {
    width: fit-content;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: end;
    justify-items: center;
    column-gap: 20px;
}

.url-input-view__input-textfield {
    height: 70px;
    width: 800px;
    line-height: 50px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 80px;
    border-radius: 100px;
    background-color: rgb(230, 230, 230);
    color: #005EDE; 
    text-align: center;
    font-family: Jua;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    border: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.url-input--error {
    border-style: solid;
    border-width: 3px;
    border-color: #f13838;   
}

.url-input-view__submit-button-wrapper {
    position: relative;
    height: 110px;
    width: 110px;
    margin-left: calc(-100% - 20px);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    border-radius: 100%;
}

.url-input-view__submit-button {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;    
    background: #0656C2;
    transition: all 50ms;
    box-shadow: 5px 5px 5px rgba(36, 35, 35, 0.25);
    color: #FFF; 
    text-align: center;
    font-family: Staatliches;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.submit-wrapper--active {
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 50px rgb(230, 230, 230);
    }
}
.submit-wrapper--inactive {
    cursor: not-allowed;
    &:hover {
        cursor: not-allowed;
    }
}

.submit-button--active {
    &:active {
        height: 90px;
        width: 90px;
        font-size: 35px;
    }
}

.submit-button--inactive {
    cursor: not-allowed;
    opacity: 0.3;
}
