.sliding-button {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.sliding-button:hover {
    cursor: pointer;
}

.sliding-button-text-style {
    color: #005EDE; 
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    text-align: center;
    font-family: Staatliches;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sliding-button-text-style:hover {
    cursor: pointer;
}

